In [ ]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2025.8.3)

In [ ]:
import kagglehub
import shutil

In [ ]:
# Download dataset
path = kagglehub.dataset_download("ravindrasinghrana/job-description-dataset")

Downloading from https://www.kaggle.com/api/v1/datasets/download/ravindrasinghrana/job-description-dataset?dataset_version_number=1...

100%|██████████| 457M/457M [00:03<00:00, 132MB/s]

Extracting files...

In [ ]:
# Move dataset to /content
destination_path = '/content/1'
shutil.move(path, destination_path)

'/content/1'

In [ ]:
print("Path to dataset files:", path)
print("Shifted Destination Path:", destination_path)

Path to dataset files: /root/.cache/kagglehub/datasets/ravindrasinghrana/job-description-dataset/versions/1
Shifted Destination Path: /content/1

In [ ]:
import pandas as pd
import spacy
from collections import defaultdict

In [ ]:
# Load spacy model
nlp = spacy.load("en_core_web_sm")

In [ ]:
df = pd.read_csv('/content/1/job_descriptions.csv')
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [ ]:
df.shape

(1615940, 23)

In [ ]:
#considering only first 1 lakh rows
df = df[:100000]

In [ ]:
df.shape

(100000, 23)

## Data Cleaning & Preprocessing

Drop/Delete unwanted columns

In [ ]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [ ]:
df.drop(columns=['Job Id', 'latitude', 'longitude', 'Job Portal', 'location', 'Company Profile', 'Job Description'], inplace = True)

In [ ]:
df.isna().sum()

Experience          0
Qualifications      0
Salary Range        0
Country             0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Benefits            0
skills              0
Responsibilities    0
Company             0
dtype: int64

Changing the Data Type of date column

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Experience        100000 non-null  object
 1   Qualifications    100000 non-null  object
 2   Salary Range      100000 non-null  object
 3   Country           100000 non-null  object
 4   Work Type         100000 non-null  object
 5   Company Size      100000 non-null  int64
 6   Job Posting Date  100000 non-null  object
 7   Preference        100000 non-null  object
 8   Contact Person    100000 non-null  object
 9   Contact           100000 non-null  object
 10  Job Title         100000 non-null  object
 11  Role              100000 non-null  object
 12  Benefits          100000 non-null  object
 13  skills            100000 non-null  object
 14  Responsibilities  100000 non-null  object
 15  Company           100000 non-null  object
dtypes: int64(1), object(15)
memory usage: 12.2+ MB

In [ ]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Experience        100000 non-null  object
 1   Qualifications    100000 non-null  object
 2   Salary Range      100000 non-null  object
 3   Country           100000 non-null  object
 4   Work Type         100000 non-null  object
 5   Company Size      100000 non-null  int64
 6   Job Posting Date  100000 non-null  datetime64[ns]
 7   Preference        100000 non-null  object
 8   Contact Person    100000 non-null  object
 9   Contact           100000 non-null  object
 10  Job Title         100000 non-null  object
 11  Role              100000 non-null  object
 12  Benefits          100000 non-null  object
 13  skills            100000 non-null  object
 14  Responsibilities  100000 non-null  object
 15  Company           100000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 12.2+ MB

## Building Search Engine

Building Inverted Index

In [ ]:
def build_inverted_index(df):
    inverted_index = defaultdict(list)

    # Iterate through each row in the DataFrame
    for idx, row in df.iterrows():
        # Tokenize the search_term column (split by spaces)
        terms = str(row['Job Title']).lower().split()

        # Add each term to the inverted index with the document index (row ID)
        for term in terms:
            if idx not in inverted_index[term]:
                inverted_index[term].append(idx)

    return inverted_index

# Build the inverted index
inverted_index = build_inverted_index(df)
print("\nInverted Index Built Successfully!")

Inverted Index Built Successfully!

Searching in the Inverted Index

In [ ]:


def search_with_inverted_index(query, inverted_index, df, max_results=5):
    query_terms = query.lower().split()
    matching_docs = set()

    # Collect matching document IDs from the inverted index
    for term in query_terms:
        if term in inverted_index:
            matching_docs.update(inverted_index[term])

    # Limit the number of results to max_results (default is 50)
    matching_docs = list(matching_docs)[:max_results]

    if matching_docs:
        print(f"\nDisplaying up to {max_results} results for search term '{query}':\n")
        for doc_id in matching_docs:
            row = df.iloc[doc_id]

            # Display the result
            print(f"Job Title : {row['Job Title']}")
            print(f"Role : {row['Role']}")
            print(f"Company Name : {row['Company']}")
            print(f"Location : {row['Country']}")
            print(f"Qualifications : {row['Qualifications']}")
            print(f"Experience : {row['Experience']}")
            print(f"Salary Range : {row['Salary Range']}")
            print(f"Work Type : {row['Work Type']}")
            print(f"Responsibilities : {row['Responsibilities']}")
            print(f"Skills : {row['skills']}")
            print(f"Benefits : {row['Benefits']}")
            print(f"Contact	: {row['Contact']}")
            print("-" * 50)
    else:
        print(f"No results found for search term '{query}'.")



if __name__ == "__main__":
    inverted_index = build_inverted_index(df)
    while True:
        user_query = input("\nEnter your search term (or type 'exit' to quit): ")
        if user_query.lower() == 'exit':
            break

        search_with_inverted_index(user_query, inverted_index, df)

Enter your search term (or type 'exit' to quit): Analyst

Displaying up to 5 results for search term 'Analyst':

Job Title : Investment Analyst
Role : Portfolio Manager
Company Name : Bajaj Auto
Location : Pakistan
Qualifications : BCA
Experience : 0 to 11 Years
Salary Range : $55K-$118K
Work Type : Contract
Responsibilities : Manage investment portfolios, making investment decisions and asset allocation. Conduct research and analysis to identify investment opportunities. Monitor portfolio performance and risk.
Skills : Investment management Financial analysis Risk assessment Asset allocation Portfolio optimization
Benefits : {'Flexible Spending Accounts (FSAs), Relocation Assistance, Legal Assistance, Employee Recognition Programs, Financial Counseling'}
Contact	: 405.473.3511x661
--------------------------------------------------
Job Title : Chemical Analyst
Role : Research Chemist
Company Name : Travis Perkins
Location : Jordan
Qualifications : M.Tech
Experience : 1 to 8 Years
Salary Range : $58K-$120K
Work Type : Temporary
Responsibilities : Conduct research on chemical properties, reactions, and formulations. Develop new chemical compounds and products. Collaborate on research projects and contribute to scientific publications.
Skills : Research chemistry Experimental design Data interpretation Chemical synthesis Research protocols Scientific writing Problem-solving skills
Benefits : {'Flexible Spending Accounts (FSAs), Relocation Assistance, Legal Assistance, Employee Recognition Programs, Financial Counseling'}
Contact	: (783)382-7332x7219
--------------------------------------------------
Job Title : QA Analyst
Role : Performance Testing Specialist
Company Name : McDonald's
Location : Bahrain
Qualifications : BCA
Experience : 3 to 10 Years
Salary Range : $57K-$104K
Work Type : Contract
Responsibilities : Focus on performance and load testing to assess the scalability and responsiveness of software applications. Identify bottlenecks and optimize application performance. Generate performance test reports and recommendations.
Skills : Performance testing Load testing Stress testing Test scenarios Performance monitoring Benchmarking Performance analysis
Benefits : {'Flexible Spending Accounts (FSAs), Relocation Assistance, Legal Assistance, Employee Recognition Programs, Financial Counseling'}
Contact	: 001-683-879-1350
--------------------------------------------------
Job Title : Investment Analyst
Role : Portfolio Manager
Company Name : Aflac
Location : Bermuda
Qualifications : B.Com
Experience : 0 to 14 Years
Salary Range : $65K-$92K
Work Type : Contract
Responsibilities : Manage investment portfolios, making investment decisions and asset allocation. Conduct research and analysis to identify investment opportunities. Monitor portfolio performance and risk.
Skills : Investment management Financial analysis Risk assessment Asset allocation Portfolio optimization
Benefits : {'Legal Assistance, Bonuses and Incentive Programs, Wellness Programs, Employee Discounts, Retirement Plans'}
Contact	: 001-731-554-4709x802
--------------------------------------------------
Job Title : Market Research Analyst
Role : Market Research Coordinator
Company Name : Starbucks
Location : Bahrain
Qualifications : BA
Experience : 1 to 13 Years
Salary Range : $59K-$114K
Work Type : Full-Time
Responsibilities : Coordinate research projects, including participant recruitment and data collection. Collaborate with research teams and ensure project timelines are met. Maintain research databases and records.
Skills : Market research coordination Survey design and administration Data analysis
Benefits : {'Legal Assistance, Bonuses and Incentive Programs, Wellness Programs, Employee Discounts, Retirement Plans'}
Contact	: +1-460-919-4674x606
--------------------------------------------------

Enter your search term (or type 'exit' to quit): quit
No results found for search term 'quit'.

Enter your search term (or type 'exit' to quit): exit